/* latin */
@font-face {
  font-family: 'Aclonica';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Aclonica Regular"), local("Aclonica-Regular"), url(../fonts/K2FyfZJVlfNNSEBXGY7UAo8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* devanagari */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Khula Regular"), local("Khula-Regular"), url(../fonts/OpNCnoEOns3V7GcPrg7shw.woff2) format("woff2");
  unicode-range: U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200C-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* latin-ext */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Khula Regular"), local("Khula-Regular"), url(../fonts/OpNCnoEOns3V7GcArg7shw.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Khula';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Khula Regular"), local("Khula-Regular"), url(../fonts/OpNCnoEOns3V7GcOrg4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* line 1, ../sass/partials/_layout.scss */
* {
  box-sizing: border-box;
}

/* line 4, ../sass/partials/_layout.scss */
body, html {
  height: 100%;
}

/* line 13, ../sass/partials/_mixins.scss */
.blog-s1 {
  min-height: 100vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.confirm-s1 {
  min-height: 100vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.error-s1 {
  min-height: 100vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.index-s1 {
  min-height: 100vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.privacy-s1 {
  min-height: 100vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.services-s1 {
  min-height: 100vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.about-s1 {
  min-height: 50vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.contact-s1 {
  min-height: 50vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.contact-s2 {
  min-height: 50vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.index-s3 {
  min-height: 50vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.index-s4 {
  min-height: 50vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.portfolio-s1 {
  min-height: 50vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.portfolio-s2 {
  min-height: 50vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.portfolio-s3 {
  min-height: 50vh;
}

/* line 13, ../sass/partials/_mixins.scss */
.portfolio-s4 {
  min-height: 50vh;
}

/* line 2, ../sass/partials/_modules.scss */
.bg-img {
  background-image: url("../img/gray-bg.jpg");
  background-repeat: repeat;
}

/* line 7, ../sass/partials/_modules.scss */
.box-shadow {
  box-shadow: 1px 1px 4px #666;
}

/* line 13, ../sass/partials/_modules.scss */
.contact-s1__col-left {
  background-image: url("../img/contact-s1-bg.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 19, ../sass/partials/_modules.scss */
.dim-hover:hover {
  opacity: 0.6;
}

/* line 23, ../sass/partials/_modules.scss */
.fixed-size {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* line 29, ../sass/partials/_modules.scss */
.font-logo {
  font-family: "Aclonica", sans-serif;
}
/* line 32, ../sass/partials/_modules.scss */
.font-menu {
  font-family: "Khula", sans-serif;
}

/* line 37, ../sass/partials/_modules.scss */
.h-50vh {
  min-height: 50vh;
}

/* line 44, ../sass/partials/_modules.scss */
.index-s5__col-left-1 {
  background-image: url("../img/index-s5-bg-1.jpg");
  background-position: center center;
  background-size: cover;
}
/* line 47, ../sass/partials/_modules.scss */
.index-s5__col-left-2 {
  background-image: url("../img/index-s5-bg-2.jpg");
  background-position: center center;
  background-size: cover;
}
/* line 52, ../sass/partials/_modules.scss */
.index-s5__col-right-1 {
  background-image: url("../img/index-s5-bg-3.jpg");
  background-position: center center;
  background-size: cover;
}
/* line 55, ../sass/partials/_modules.scss */
.index-s5__col-right-2 {
  background-image: url("../img/index-s5-bg-4.jpg");
  background-position: center center;
  background-size: cover;
}

/* line 62, ../sass/partials/_modules.scss */
.maxh-50vh {
  max-height: 50vh;
}

/* line 67, ../sass/partials/_modules.scss */
.object-cover {
  object-fit: cover;
}

/* line 72, ../sass/partials/_modules.scss */
.opacity-7 {
  opacity: 0.7;
}
/* line 75, ../sass/partials/_modules.scss */
.opacity-8 {
  opacity: 0.8;
}
/* line 78, ../sass/partials/_modules.scss */
.opacity-9 {
  opacity: 0.9;
}

/* line 82, ../sass/partials/_modules.scss */
.overflow-x-hidden {
  overflow-x: hidden;
}

/* line 86, ../sass/partials/_modules.scss */
.style-none {
  text-decoration: none !important;
}

/* line 92, ../sass/partials/_modules.scss */
.text-shadow-black {
  text-shadow: 0 2px 5px black;
}
/* line 95, ../sass/partials/_modules.scss */
.text-shadow-gray {
  text-shadow: 0 1px 1px #999;
}
/* line 96, ../sass/partials/_modules.scss */
.text-shadow-gray-dark {
  text-shadow: 0 0 3px #444;
}
/* line 101, ../sass/partials/_modules.scss */
.text-shadow-none {
  text-shadow: none;
}

/* line 108, ../sass/partials/_modules.scss */
.z-index-top {
  z-index: 100;
}

/* line 114, ../sass/partials/_modules.scss */
textarea {
  resize: none;
}
