@mixin set-bg-cover($imgA){
    background-image: url($imgA);
    background-position: center center;
    background-size: cover;
}

@mixin set-bg-img($imgA){
    background-image: url($imgA);
    background-repeat: repeat
}

@mixin set-min-height($objA,$heightA){
    .#{$objA}{
        min-height: $heightA;
    }
}

@mixin set-min-height-arr($objArrA,$heightA){
    @for $i from 1 through length($objArrA){
        @include set-min-height(nth($objArrA,$i),$heightA);
    }
}