.bg{
    &-img{
        @include set-bg-img($bg-img);
    }
}
.box{
    &-shadow{
        box-shadow: $box-shadow;
    }
}
.contact{
    &-s1{
        &__col-left{
            @include set-bg-cover($contact-s1__col-left-bg);
        }
    }
}
.dim-hover{
    &:hover{
        opacity: 0.6
    }
}
.fixed-size{
    width: 100vw;
    height: 50vh;
    object-fit: cover;
    min-height: 360px;
}
.font{
    &-logo{
        font-family: $font-logo;
    }
    &-menu{
        font-family: $font-menu;
    }
}
.h{
    &-50vh{
        min-height: $height-half;
    }
}
.index{
    &-s5__col{
        &-left{
            &-1{
                @include set-bg-cover($index-s5__col-left-1-bg);
            }
            &-2{
                @include set-bg-cover($index-s5__col-left-2-bg);
            }
        }
        &-right{
            &-1{
                @include set-bg-cover($index-s5__col-right-1-bg);
            }
            &-2{
                @include set-bg-cover($index-s5__col-right-2-bg);
            }
        }
    }
}
.maxh{
    &-50vh{
        max-height: 50vh;
    }
}
.object{
    &-cover{
        object-fit: cover;
    }
}
.opacity{
    &-7{
        opacity: 0.7;
    }
    &-8{
        opacity: 0.8;
    }
    &-9{
        opacity: 0.9;
    }
}
.overflow-x-hidden{
    overflow-x: hidden;
}
.style{
    &-none{
        text-decoration: none !important;
    }
}
.text{
    &-shadow{
        &-black{
            text-shadow: $text-shadow-black;
        }
        &-gray{
            &-dark{
                text-shadow: $text-shadow-gray-dark;
            }
            text-shadow: $text-shadow-gray;
        }
        &-none{
            text-shadow: none;
        }
    }
}
.z{
    &-index{
        &-top{
            z-index: 100;
        }
    }
}

textarea{
    resize: none;
}

@media all and (max-width:767px){
    .navbar-collapse{
        backdrop-filter: blur(15px);
        border: 1px solid #666;
        padding:20px;
    }
}